*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
  font-family: 'Roboto mono', monospace;
  margin: 0;
  padding: 0;
  /*position: fixed;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-container{
  margin: 0 auto;
  max-width: 980px;
}
a{
  text-decoration: none;
  display: inline;
  color: black;
}
header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons{
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span{
  color: white;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container{
  margin-left: 50px;
}
nav .nav-logo-container img{
  width: 220px;
  margin-top: 10px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}
main {
}
main .hero-container{
  background-image: url(../assets/img/Cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
main .hero-title{
  text-align: center;
  align-self: center;
  color: #fefefe;
  padding-top: 30px;
}
main .hero-button{
  display: table-cell;
  width: 100px;
  height: 30px;
  margin: 35px auto;
  background-color: #47cfac;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  padding-top: 8px;
}
.news{
  background-color: #E6E9ED;
}
main .last-news-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}
.news-last-post {
  margin-top: 30px;
  margin-left: 125px;
  margin-bottom: 40px;
}
.news-last-post__section-title{
  font-size: 23px;
  font-weight: 700;
}
.news-last-post .news-last-post__img img{
  margin-top: 20px;
  width: 450px;
  height: 300px;
} 
.news-last-blog{
  align-self: center;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
}
.news-last-blog p{
  margin: 20px 0;
} 
.blog-more__button{
  display: table-cell;
  width: 90px;
  height: 40px;
  border: 1px solid #48CFAD;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 700;
}
.last-blogs__section-title{
  margin: 30px auto;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}

.last-blogs-container{
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 15px;

}
.last-blogs-container hr{
  margin: 20px auto;
  width: 80px;
}
.blog-article{
  justify-self: center;
  margin-bottom: 30px;
}
.blog-article p{
  margin: 15px 0;
  font-weight: 500;
} 
.blog-article p:nth-child(2){
  margin-bottom: 30px;
}
.blog-article img{
  width: 100%;
} 
footer .divisor{
  width: 100%;
  height: 30px;
  background-color: #47cfac;
}
footer .footer-description{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22272D;
  color: white;
}

/*blog section*/
.blog-container{
  text-align: center;
}
.blog-container img{
  width: 90%;
  margin: 0 auto;
}

.post-container{
  text-align: left;
}
.blog-container h3{
  margin: 20px 0 30px;
}
.post-container h2{
  margin: 30px auto;
}
.post-container p{
  font-weight: 500;
  margin-bottom: 40px
}
.contact{
  background-color: #E6E9ED;
  font-weight: 500;
  font-size: 20px;
}
.contact-container{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
}
.contact-container figure{
  width: 150px;
  justify-self:end;
}
.contact-container div{
  text-align: left;
  align-self: center
}
.contact-container div a{
  border-bottom: 1px solid black;
}
.contact-container div p{
  margin-top: 15px;
}
